@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Nunito", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}
.container-progress {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.container-progress::before {
  content: "";
  background-color: rgb(253, 199, 208);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -2;
}
.container-progress .progress {
  background-color: rgb(252, 98, 124);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.container-progress .circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(253, 199, 208);
  transition: 0.4s ease;
}
.container-progress .circle.active {
  border-color: rgb(252, 98, 124);
}
.container .btn {
  background-color: rgb(252, 98, 124);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
.container .btn:active {
  transform: scale(0.98);
}
.container .btn:focus {
  outline: 0;
}
.container .btn:disabled {
  background-color: rgb(253, 199, 208);
  cursor: not-allowed;
  transform: scale(1);
}