@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "./mixins";

$colors: (
  primary: rgb(252, 98, 124),
  secondary: rgb(253, 199, 208),
  tertiary: #f6f7fb
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  box-sizing: border-box;
}

body {
  background-color: color(tertiary);
  font-family: "Nunito", sans-serif;
  margin: 0;
  @include flex-center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
